@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ebf5fc;
}


nav {
    position:absolute ;
    display: block;
    width: 100%;
    top: 0px;
    margin-bottom: 20px;
}

ul {
    text-align: right;
    box-shadow: 0px 5px 10px rgb(122, 27, 131);
    background: rgb(57, 27, 126);

}

 nav ul li{
   display: inline-block;
   margin: 25px;
    /* position: absolute; */
 }


nav ul li a {
    text-decoration: none; 
      color: #fff;
    font-weight: bold;
    font-size: 18px;


}


nav ul li a:hover {
    /* font-size: 20px; */
    border-bottom: 2px solid #fff;
    position: relative;
}














.container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    padding: 40px 0;
    margin-top: 60px;

}


.container .card{
    position: relative;
    width: 320px;
    height: 440px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, .05),
                inset -5px -5px 5px rgba(255, 255, 255, .5),
                5px 5px 5px rgba(0, 0, 0, .05),
                -5px -5px 5px rgba(255, 255, 255, .5);

    border-radius: 15px;
    margin: 30px;

}

.container .card .box {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #ebf5fc;
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}


.container .card:hover .box {
    transform: translateY(-50px);
    box-shadow: 0 10px 40px rgba(0, 0, 0, .5);
    background: linear-gradient(45deg, #4e65ff,#92effd);
}


.container .card .box .content{
    padding: 20px;
    text-align: center;
}


.container .card .box .content h2 {
    position: absolute;
    top: -10px;
    right: 30px;
    font-size: 8em;
    color: rgba(0, 0, 0, .05);
    transition: .5s;
    pointer-events: none;
}

.container .card:hover .box .content h2 {
    color: rgba(0, 0, 0, .05);
}
.container .card .box .content h3 {
    font-size: 1.8em;
    color: #777;
    z-index: 1;
    transition: .5s;
}

.container .card .box .content p {
    font-size: 1em;
    font-weight: 300;
    color: #777;
    z-index: 1;
    transition: .5s;
}


.container .card:hover .box .content h3,
.container .card:hover .box .content p{
    color: #fff;
}


.container .card .box .content a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: #4e65ff;
    margin-top: 15px;
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
}

.container .card:hover .box .content a{
    background: #ff568f;
}

.container .card:hover .box .content a:hover{
    background: #fa1f68;
    transition: .5s;
}



@media(max-width:680px){
    /* nav ul li{
        position: absolute;
        background: #4f29cd;
        height: 100vh;
        width: 200px;
        top:0;
        right: 0;
        text-align: left;
        z-index: 2;
        margin: 0;
    } */

    .container .card:first-child {
        margin-top: 180px;
    }
}


