    html {
        color: rgb(255, 255, 255);
        font-family: 'Lato', 'Arial', 'san-serif';
        text-rendering: optimizeLegibility;
        font-size: 16px;
    }
    
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    .header {
        padding-top: 0%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.664), rgba(0, 0, 0, 0.671)), url(eduford_img/istockphoto-1262692007-612x612.jpg);
        position: relative;
        background-size: cover;
        background-position: center;
        width: 100%;
        min-height: 100vh;
    }
    
    nav {
        display: flex;
        padding: 0% 1%;
        justify-content: space-between;
        align-items: center;
    }
    
    nav img {
        width: 150px;
        margin-left: 2.0rem;
        margin-top: 1.8rem;
    }
    
    .nav-links {
        flex: 1;
        text-align: right;
    }
    
    .nav-links ul li {
        list-style: none;
        display: inline-block;
        padding: 8px 12px;
        position: relative;
    }
    
    .main-nav {
        float: right;
        list-style: none;
        margin-top: 1.875rem;
        margin-right: 2rem;
    }
    
    .main-nav li {
        display: inline-block;
        margin-right: 0.1rem;
        padding-bottom: 50%;
    }
    
    .main-nav li a:link,
    .main-nav li a:visited {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 90%;
        border-bottom: 0.125rem solid transparent;
        transition: border-bottom 0.4s;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    
    .main-nav li a:hover,
    .main-nav li a:active {
        border-bottom: 0.125rem solid white;
    }
    
    .hero-textbox {
        position: absolute;
        top: 30%;
        width: 90%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    
    .hero-textbox h1 {
        font-size: 36px;
    }
    
    .hero-textbox p {
        margin: 10px 0 40px;
        font-size: 14px;
        color: #fff;
    }
    
    .header {
        padding-top: 0%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.664), rgba(0, 0, 0, 0.671)), url(eduford_img/istockphoto-1262692007-612x612.jpg);
        position: relative;
        background-size: cover;
        background-position: center;
        width: 100%;
        min-height: 100vh;
    }
    
    .btn:link,
    .btn:visited {
        cursor: pointer;
        margin-top: 1.25rem;
        display: inline-block;
        padding: 0.625rem 0.9375rem;
        font-weight: 300;
        text-decoration: none;
        border-radius: 12.5rem;
        color: #fff;
        transition: background-color 0.4s, border 0.4s, color 0.4s;
    }
    
    .btn-full:link,
    .btn-full:visited {
        background-color: rgba(28, 4, 66, 0.925);
        border: 0.0625rem solid rgba(110, 50, 90, 0.925);
        color: #fff;
        margin-right: 0.9375rem;
    }
    
    .btn-ghost:link,
    .btn-ghost:visited {
        border: 0.0625rem solid rgba(110, 50, 90, 0.925);
        color: #fff;
    }
    
    .btn:hover,
    .btn:active {
        background-color: rgba(110, 50, 90, 0.925);
    }
    
    .btn-full:hover,
    .btn-full:visited {
        border: 0.0625rem solid #fff;
    }
    
    .btn-ghost:hover,
    .btn-ghost:visited {
        color: #fff;
        border: 0.0625rem solid rgba(255, 255, 255, 0.925);
    }
    
    nav .fas {
        display: none;
    }
    
    @media(max-width:700px) {
        .hero-textbox h1 {
            font-size: 15px;
        }
        .nav-links ul li {
            display: block;
        }
        .nav-links {
            position: relative;
            background: rgb(110, 50, 90);
            height: 100vh;
            width: 200px;
            top: 0;
            right: -200px;
            text-align: left;
            z-index: 2;
            transition: 1s;
        }
        .nav-links ul {
            padding: 30px;
        }
        nav .fas {
            display: block;
            position: relative;
            color: #fff;
            margin: 10px;
            font-size: 22px;
            cursor: pointer;
        }
    }
    /*--call to action--*/
    
    .cta {
        color: black;
        margin: 100px auto;
        width: 80%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.698)), url(eduford_img/banner2.jpg);
        background-position: center;
        background-size: cover;
        text-align: center;
        border-radius: 10px;
        text-align: center;
        padding: 100px 0px;
    }
    
    .cta h1 {
        color: #fff;
        margin-bottom: 40px;
        padding: 0;
    }
    
    @media(max-width:700px) {
        .cta h1 {
            font-size: 24px;
        }
    }
    /*--FOOTER--*/
    
    .footer {
        color: black;
        width: 100%;
        text-align: center;
        padding: 10px 10px;
    }
    
    .footer h4 {
        margin-top: 20px;
        margin-bottom: 25px;
        font-weight: 600;
    }
    
    .icons .fab {
        color: #f44336;
        margin: 0 13px;
        cursor: pointer;
        padding: 18px;
    }
    
    .fa-heart {
        color: #f44336;
    }
    /*------about us page-----*/
    
    .sub-header {
        height: 60vh;
        width: 100%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(eduford_img/background.jpg);
        background-position: center;
        background-size: cover;
        text-align: center;
        color: #fff;
    }
    
    .sub-header h1 {
        color: #ffffff;
        padding-top: 50px;
        font-size: 35px;
    }
    
    .about-us {
        width: 80%;
        margin: auto;
        padding-top: 80px;
        padding-bottom: 50px;
    }
    
    .about-col {
        flex-basis: 48%;
        padding: 30px 2px;
    }
    
    .about-col img {
        width: 50%;
    }
    
    .course-header {
        height: 5%;
    }
    /*contact us */
    
    .location {
        width: 80%;
        margin: auto;
        padding: 80px 0;
    }
    
    .location iframe {
        width: 100%;
    }
    
    .contact-us {
        width: 50%;
        margin: auto;
        color: black;
    }
    
    .contact-col {
        flex-basis: 48%;
        margin-bottom: 30px;
    }
    
    .contact-col div {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
    }
    
    .fa-phone,
    .fa-whatsapp,
    .fa-envelope,
    .fa-home {
        font-size: 28px;
        margin: 10px;
        cursor: pointer;
        margin-right: 30px;
        color: #f44336;
    }
    
    .contact-col div h5 {
        font-size: 20px;
        margin-bottom: 5px;
        color: #555;
        font-weight: 400;
    }
    
    .contact-col div p {
        padding: 0;
    }
    
    .contact-col input,
    .contact-col textarea {
        width: 100%;
        padding: 15px;
        margin-bottom: 17px;
        outline: none;
        border: 1px solid #f44336;
        box-sizing: border-box;
    }
    
    .btn-message {
        border: 1px solid #f44336;
        color: #555;
        cursor: pointer;
        margin-top: 1.25rem;
        display: inline-block;
        padding: 0.625rem 0.9375rem;
        font-weight: 300;
        text-decoration: none;
        border-radius: 12.5rem;
        transition: background-color 0.4s, border 0.4s, color 0.4s;
    }
    
    .btn-message:visited,
    .btn-message:hover {
        background-color: #f44336;
        color: black;
    }